*.class
*.log
*.iml
*.flattened-pom.xml
# Package Files #
*.jar
*.war
*.ear

# ide files #
.classpath
.project
.mymetadata
/.idea/
/captures/
.DS_Store
.idea/

# setting folders #
.settings/
.svn/
.bin/
.git/
target/
lib/
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/
/.idea/
/src/test/
